.root {
  font-family: Helvetica, arial, sans-serif;
  font-size: 18px;
  color: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0 20px;
}

.strong {
  font-weight: bold;
}
