@import (reference) '../variables.less';

@minimumLineNumberWidth: 50px;
@lineNumberOpacity: 0.4;

.insertionPoint {
  background-color: @code-selection;
}

.errorMarker {
  @keyframes fadeIn {
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  border-radius: @radius-large;
  background-color: @critical-light;
  color: @critical-dark;
  position: relative;
  min-width: @minimumLineNumberWidth;
  margin-right: 4px;
  text-align: right;
  opacity: 0;
  padding-right: 8px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.foldGutter {
  width: 1em;
  padding: 0 8px;
}
.foldOpen,
.foldFolded {
  cursor: pointer;
}
.foldOpen::after {
  content: '-';
}
.foldFolded::after {
  content: '+';
  color: @highlight;
}

:global {
  .react-codemirror2 {
    height: 100%;
    background-color: @code-background;
  }

  .CodeMirror {
    height: 100%;
    width: 100%;
    font-family: @code-font-family;
    position: relative;
    z-index: 0;
  }

  .CodeMirror-gutters {
    min-width: @code-gutter-size;
    box-sizing: border-box;
    padding-left: 8px;
  }

  .CodeMirror pre,
  .CodeMirror-linenumber {
    font-size: 16px;
  }

  .CodeMirror-lines {
    padding: 16px 0;
  }

  .CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: @shadow-small;
    border-radius: @radius-medium;
    background-color: @code-background;
    font-size: 90%;
    line-height: 150%;
    font-family: @code-font-family;
    max-height: 20em;
    overflow-y: auto;
  }

  .CodeMirror-hint {
    margin: 0;
    padding: 4px 8px;
    border-radius: @radius-small;
    white-space: pre;
    color: @black;
    cursor: pointer;
  }

  li.CodeMirror-hint-active {
    background-color: @code-hint-bg;
    color: @code-hint-fg;
  }

  .CodeMirror-linenumbers {
    min-width: @minimumLineNumberWidth;
  }

  .CodeMirror-foldmarker {
    color: @highlight;
    font-family: arial;
    cursor: pointer;
    padding: 0 @grid;
  }

  .cm-s-neo {
    &.CodeMirror {
      background-color: @code-background;
    }
    .CodeMirror-cursor {
      background-color: @black;
      width: 2px;
    }
    .CodeMirror-gutters {
      background-color: @code-background;
      border: none;
      &::after {
        content: '';
        background-color: @code-background;
        position: absolute;
        right: 0;
        height: 100%;
        box-shadow: 0 0 10px 5px @code-background;
      }
    }
    .CodeMirror-selected {
      background: @code-selection;
    }

    .CodeMirror-activeline-background {
      background: transparent;
    }

    .CodeMirror-guttermarker-subtle {
      display: flex;
      justify-content: center;
      color: @gray-4;
      transition: @transition-fast;
      &:not(:hover):not(:local(.foldFolded)) {
        opacity: @lineNumberOpacity;
      }
    }

    .CodeMirror-linenumber {
      min-width: @minimumLineNumberWidth;
      color: @gray-4;
      transition: @transition-fast;
      &:not(:hover):not(.cm-s-neo
          .CodeMirror-activeline
          .CodeMirror-linenumber) {
        opacity: @lineNumberOpacity;
      }
    }
    .cm-tag {
      color: @code-format-tag;
    }
    .cm-attribute {
      color: @code-format-attribute;
    }
    .cm-string {
      color: @code-format-string;
    }
    .cm-atom {
      color: @code-format-atom;
    }
    .cm-variable {
      color: @code-format-variable;
    }
  }
}
