{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "shippedProposals": true
      }
    ],
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
