{
  "extends": "seek",
  "globals": {
    "__PLAYROOM_GLOBAL__CONFIG__": true
  },
  "rules": {
    "no-console": 0,
    "no-process-exit": 0
  },
  "overrides": [{
    "files": ["examples/**/*.js"],
    "rules": {
      "import/no-unresolved": 0
    }
  }]
}
