{
  "extends": "seek",
  "globals": {
    "__PLAYROOM_GLOBAL__CONFIG__": true
  },
  "overrides": [
    {
      "files": ["bin/**/*.js", "lib/**/*.js"],
      "rules": {
        "no-console": 0,
        "no-process-exit": 0
      }
    },
    {
      "files": ["examples/**/*.js"],
      "rules": {
        "import/no-unresolved": 0
      }
    }
  ]
}
