@import (reference) '../../variables.less';

.noFocus:focus {
  outline: none;
}

.root {
  position: relative;
  background: @code-editor-background;
  height: 100%;
  background: #f8f9fc;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  box-shadow: @shadow-large;
  margin-top: @code-editor-vertical-padding;
}
