@import (reference) '../variables.less';

.buttonReset {
  box-sizing: border-box;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  position: relative;
  height: @interaction-height;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variant {
  border-radius: @radius-large;
  padding: 0 (@grid * 3);
  color: currentColor;
  border: 1px solid currentColor;
  font: @text-standard;
  width: 55%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: @radius-large;
    transition: @transition-medium;
    box-shadow: 2px 2px 1px 1px currentColor;
    opacity: 0;

    :hover& {
      opacity: 0.3;
    }
  }

  &:hover:not(.positive) {
    color: @highlight;
  }

  &:focus:not(:active):not(:hover):not(.positive) {
    box-shadow: @focus-outline;
  }

  &:active {
    transform: scale(0.98);
  }
}

.positive {
  color: @positive-dark;
}

.slim {
  height: @grid * 9;

  &:after {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    min-height: @interaction-height;
    min-width: @interaction-height;
    left: -@grid * 2;
    right: -@grid * 2;
    height: 100%;
    top: 50%;
  }
}

.iconContainer {
  position: relative;
  top: 1px;
  padding-left: 5px;
}
