@import (reference) '../variables.less';

.root {
  background-color: @preview-background;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: @preview-padding 0;
}

.frameContainer {
  display: inline-block;
  position: relative;
  height: 97%;
  margin-right: @preview-padding;
  background-color: @white;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: @shadow-small;
    transition: @transition-medium;

    :not(:hover)& {
      opacity: 0.8;
    }
  }

  &:first-child {
    margin-left: @preview-padding;
  }
}

.frameName {
  position: absolute;
  height: 30px;
  bottom: -30px;
  left: 0;
  right: 0;
  font: @text-standard;
  color: @preview-foregound;
  line-height: 30px;
  transition: @transition-medium;

  .frameContainer:not(:hover) & {
    opacity: 0.3;
  }
}

.strong {
  font-weight: bold;
}

.frame {
  height: 100%;
  border: 0;
  background-color: @white;
}
